@tailwind base;
@tailwind components;
@tailwind utilities;

/* HTML요소에 기본 스타일 추가 */
@layer base {
  h1 {
    @apply text-[4rem] font-bold text-text_main;
  }
  h2 {
    @apply text-[3rem] font-bold text-text_main;
  }
  h3 {
    @apply text-[2rem] font-semibold text-text_main;
  }
  h4 {
    @apply text-[1.5rem] text-text_sub;
  }
}

/* 특정 컴포넌트에 스타일 추가 */
@layer components {
  .full-screen {
    width: 100vw;
    height: 100vh;
  }
  .full-screen-with-header {
    width: 100vw;
    height: calc(100% - 4rem);
    margin-top: 4rem;
  }
}

/* 유틸리티 커스터마이징 */
@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
}
